*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
}

.form-input, .form-select{
border: none;
border-radius: 10px;
}

.todo-card{
    border: none;
    border-radius: 20px;
    padding: 30px;
    

}

